@import "tailwindcss";

@theme {
  --color-vava-dark: #070707;
  --color-vava-blue: #1A365D;
  --color-vava-accent: #EAB308;
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Smooth scrolling for anchor links */
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
